NEXT_PUBLIC_SITE_URL=https://tu-dominio.com
NEXT_PUBLIC_CLOUDFLARE_ANALYTICS_TOKEN=
NEXT_PUBLIC_ADSENSE_CLIENT_ID=
NEXT_PUBLIC_ADSENSE_HOME_SLOT=
NEXT_PUBLIC_ADSENSE_TOOL_SLOT=
NEXT_PUBLIC_CONTACT_EMAIL=
